In [14]:
import pandas as pd
import numpy as np
from pathlib import Path

%matplotlib inline

In [15]:
file_pathS = Path("../Resources/sentiment.csv")
df_sentiment = pd.read_csv(file_pathS, infer_datetime_format = True, parse_dates = True, index_col = "minute")
df_sentiment.sort_index(inplace=True)

In [16]:
df_sentiment[770:]

                     sentiment_vader  sentiment_rnn
minute
2021-01-29 13:59:00              0.0            0.5
2021-01-29 14:03:00             -1.0           -1.0
2021-01-29 14:05:00              1.0            1.0
2021-01-29 14:07:00              0.0            0.0
2021-01-29 14:09:00             -1.0            1.0
...                              ...            ...
2021-04-05 15:22:00              1.0            1.0
2021-04-05 16:26:00             -1.0            1.0
2021-04-05 16:28:00             -1.0           -1.0
2021-04-05 16:35:00             -1.0           -1.0
2021-04-05 16:57:00             -1.0            1.0

[17053 rows x 2 columns]

In [17]:
file_pathD = Path("../WEIRONG/Results/GME.csv")
df_data = pd.read_csv(file_pathD, infer_datetime_format = True, parse_dates = True, index_col = "date_time")
df_data.sort_index(inplace=True)

In [18]:
df_data[5000:]

,close,vol,spy,return,Beta,WR,RSI,OBV
date_time,,,,,,,,
2021-02-12 14:50:00,50.821,2375,391.107,-0.002336,3.725554,-14.933837,68.000000,24020109.0
2021-02-12 14:51:00,50.990,5069,391.128,0.003325,3.689271,-52.242744,71.929825,24025178.0
2021-02-12 14:52:00,51.019,15677,391.065,0.000569,3.562944,-10.780669,68.596663,24040855.0
2021-02-12 14:53:00,51.299,17225,391.140,0.005488,3.784630,-51.001821,72.858355,24058080.0
2021-02-12 14:54:00,51.200,11699,391.145,-0.001930,3.826390,0.000000,67.744479,24046381.0
...,...,...,...,...,...,...,...,...
2021-03-31 15:55:00,191.980,15778,396.345,-0.002447,2.943117,0.000000,70.208991,67647957.0
2021-03-31 15:56:00,191.960,13801,396.520,-0.000104,2.864469,-27.447552,63.737565,67634156.0
2021-03-31 15:57:00,191.951,21260,396.520,-0.000047,2.920564,-28.613054,60.113960,67612896.0
2021-03-31 15:58:00,191.130,20765,396.830,-0.004277,2.420114,-29.137529,52.606528,67592131.0
2021-03-31 15:59:00,190.010,58711,396.330,-0.005860,2.701200,-54.117165,43.245761,67533420.0

In [19]:
df_combine = df_data.join(df_sentiment)

In [20]:
df_combine = df_combine[df_combine.index > pd.Timestamp("2021-01-28")]

In [21]:
file_pathA = Path("../Resources/all_data_csv.csv")
df_macro = pd.read_csv(file_pathA, infer_datetime_format = True, parse_dates = True, index_col = "date_time")
df_macro.sort_index(inplace=True)

In [22]:
df_combine

,close,vol,spy,return,Beta,WR,RSI,OBV,sentiment_vader,sentiment_rnn
date_time,,,,,,,,,,
2021-01-28 09:30:00,290.000,719438,376.500,-0.159420,-5.021900,-3.846154,24.616808,1063543.0,-1.0,-1.0
2021-01-28 09:31:00,300.160,48204,376.780,0.035034,-4.692537,-100.000000,29.976045,1111747.0,1.0,1.0
2021-01-28 09:32:00,300.160,48204,376.760,0.000000,-4.693024,-82.237762,30.142002,1159951.0,NaN,NaN
2021-01-28 09:33:00,300.160,48204,377.040,0.000000,-4.658830,-82.237762,30.632934,1208155.0,NaN,NaN
2021-01-28 09:34:00,300.160,48204,376.830,0.000000,-4.686281,-82.237762,31.696730,1256359.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-03-31 15:55:00,191.980,15778,396.345,-0.002447,2.943117,0.000000,70.208991,67647957.0,NaN,NaN
2021-03-31 15:56:00,191.960,13801,396.520,-0.000104,2.864469,-27.447552,63.737565,67634156.0,NaN,NaN
2021-03-31 15:57:00,191.951,21260,396.520,-0.000047,2.920564,-28.613054,60.113960,67612896.0,NaN,NaN
2021-03-31 15:58:00,191.130,20765,396.830,-0.004277,2.420114,-29.137529,52.606528,67592131.0,NaN,NaN
2021-03-31 15:59:00,190.010,58711,396.330,-0.005860,2.701200,-54.117165,43.245761,67533420.0,NaN,NaN

In [23]:
df_macro = df_macro[['us2y10y', 'vix', 'usdjpy']]

In [24]:
df_combine = df_combine.join(df_macro)

In [25]:
df_combine.fillna(0, inplace = True)

In [26]:
df_combine.to_csv("all_features.csv")