In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

%matplotlib inline

In [7]:
file_pathS = Path("../Resources/sentiment.csv")
df_sentiment = pd.read_csv(file_pathS, infer_datetime_format = True, parse_dates = True, index_col = "minute")
df_sentiment.sort_index(inplace=True)

In [27]:
df_sentiment[770:]

                     sentiment_vader  sentiment_rnn
minute
2021-01-29 13:59:00              0.5           0.75
2021-01-29 14:03:00              0.0           0.00
2021-01-29 14:05:00              1.0           1.00
2021-01-29 14:07:00              0.5           0.50
2021-01-29 14:09:00              0.0           1.00
...                              ...            ...
2021-04-05 15:22:00              1.0           1.00
2021-04-05 16:26:00              0.0           1.00
2021-04-05 16:28:00              0.0           0.00
2021-04-05 16:35:00              0.0           0.00
2021-04-05 16:57:00              0.0           1.00

[17053 rows x 2 columns]

In [9]:
file_pathD = Path("../Resources/all_data_csv.csv")
df_data = pd.read_csv(file_pathD, infer_datetime_format = True, parse_dates = True, index_col = "date_time")
df_data.sort_index(inplace=True)

In [14]:
df_data[5000:]

,gme_px,gme_vol,amc_px,amc_vol,bb_px,bb_vol,bbby_px,bbby_vol,nok_px,nok_vol,spy_px,spy_vol,us2y10y,vix,usdjpy
date_time,,,,,,,,,,,,,,,
2021-02-05 14:50:00,60.780,61855,6.6913,209448,12.9601,22501,26.480,2633,4.2250,47219,387.380,146830,105.287,21.29,105.41
2021-02-05 14:51:00,60.859,43700,6.6900,76969,12.9950,16772,26.490,8775,4.2287,43080,387.445,74806,105.287,21.27,105.41
2021-02-05 14:52:00,61.180,14078,6.6900,87824,12.9900,55304,26.530,790,4.2300,229957,387.543,86009,105.287,21.23,105.40
2021-02-05 14:53:00,61.150,12579,6.6913,277284,13.0085,43593,26.550,4323,4.2280,225783,387.450,45772,105.287,21.22,105.40
2021-02-05 14:54:00,61.134,18421,6.6988,128043,12.9950,18312,26.500,6887,4.2200,61953,387.440,70115,105.631,21.23,105.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-31 15:55:00,191.980,15778,10.1600,101166,8.4250,48060,29.125,28164,3.9650,67617,396.345,1730134,157.142,19.01,110.73
2021-03-31 15:56:00,191.960,13801,10.2199,308278,8.4250,111643,29.120,28940,3.9650,328314,396.520,1484195,156.964,18.99,110.73
2021-03-31 15:57:00,191.951,21260,10.2250,165293,8.4200,86947,29.175,24932,3.9650,82452,396.520,1657290,157.142,18.97,110.73
2021-03-31 15:58:00,191.130,20765,10.2100,169608,8.4250,106312,29.180,37675,3.9700,87043,396.830,2252087,157.142,18.95,110.72
2021-03-31 15:59:00,190.010,58711,10.2099,183929,8.4199,216901,29.170,82624,3.9650,248857,396.330,6944712,157.499,18.96,110.73

In [11]:
df_combine = df_data.join(df_sentiment)

In [33]:
df_combine.tail()

,gme_px,gme_vol,amc_px,amc_vol,bb_px,bb_vol,bbby_px,bbby_vol,nok_px,nok_vol,spy_px,spy_vol,us2y10y,vix,usdjpy,sentiment_vader,sentiment_rnn
date_time,,,,,,,,,,,,,,,,,
2021-03-31 15:55:00,191.980,15778,10.1600,101166,8.4250,48060,29.125,28164,3.965,67617,396.345,1730134,157.142,19.01,110.73,NaN,NaN
2021-03-31 15:56:00,191.960,13801,10.2199,308278,8.4250,111643,29.120,28940,3.965,328314,396.520,1484195,156.964,18.99,110.73,NaN,NaN
2021-03-31 15:57:00,191.951,21260,10.2250,165293,8.4200,86947,29.175,24932,3.965,82452,396.520,1657290,157.142,18.97,110.73,NaN,NaN
2021-03-31 15:58:00,191.130,20765,10.2100,169608,8.4250,106312,29.180,37675,3.970,87043,396.830,2252087,157.142,18.95,110.72,NaN,NaN
2021-03-31 15:59:00,190.010,58711,10.2099,183929,8.4199,216901,29.170,82624,3.965,248857,396.330,6944712,157.499,18.96,110.73,NaN,NaN