In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

%matplotlib inline

In [2]:
file_path = Path("../WEIRONG/Results/GME.csv")
df_data = pd.read_csv(file_path, infer_datetime_format = True, parse_dates = True, index_col = "date_time")
df_data.sort_index(inplace=True)

In [3]:
df_data = df_data[df_data.index > pd.Timestamp("2021-01-28")]
df_data = df_data[df_data.index < pd.Timestamp("2021-03-12")]

In [4]:
df_data.tail()

,close,vol,spy,return,Beta,WR,RSI,OBV
date_time,,,,,,,,
2021-03-11 15:55:00,261.965,20986,393.59,0.001166,4.811683,-95.154185,44.318895,67538520.0
2021-03-11 15:56:00,259.168,53813,393.41,-0.010677,5.178406,-39.875322,33.046246,67484707.0
2021-03-11 15:57:00,255.760,77941,393.36,-0.013150,5.431785,-57.717122,23.422770,67406766.0
2021-03-11 15:58:00,254.610,113006,393.44,-0.004496,5.240260,-87.411056,17.593244,67293760.0
2021-03-11 15:59:00,256.190,112092,393.49,0.006206,5.050448,-100.000000,26.638809,67405852.0

In [5]:
df_data.describe()

,close,vol,spy,return,Beta,WR,RSI,OBV
count,11700.000000,1.170000e+04,11700.000000,11700.000000,11700.000000,11699.000000,11700.000000,1.170000e+04
mean,119.181147,7.245028e+04,386.380691,0.000120,1.718654,-51.815984,49.463860,3.186906e+07
std,84.387641,1.071413e+05,5.366844,0.018280,12.948357,31.543125,15.702165,1.557432e+07
min,38.510000,4.000000e+02,368.410000,-0.321498,-100.796548,-100.000000,0.000000,1.063543e+06
25%,49.620000,1.712075e+04,383.100000,-0.003914,1.411018,-79.042241,38.470851,2.204701e+07
50%,98.552000,3.759100e+04,388.152500,0.000000,3.082894,-52.777778,49.549550,2.408060e+07
75%,143.739000,8.422575e+04,390.290000,0.003927,5.384609,-25.145784,60.305727,4.636281e+07
max,469.419000,1.852337e+06,395.580000,1.000355,54.745672,0.000000,100.000000,6.805719e+07

In [6]:
df_data['return'].mean()

0.00012015470404738163